---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>As Founder and Instructor of Apex Mathematics & Physics Program (Mymensingh)</h2>

<ul>
 <li> I teach Mathematics and Physics here </a> <em>(Winter 2021 - present)</em></li>

 <li> Special Training for Math Olympiad</a> <em>(Summer 2021)</em></li>

 <li> I taught algebra and combinatorics as a part of  Math Olympiad Preparation </a> <em>(Summer 2021)</em></li>

</ul>

<h2>As Instructor of Omeca Coaching Center (Dhaka)</h2>

<ul>
  <li> High School Math: Geometry, Combinatorics, Trigonometry and Calculus </a> <em>(Spring 2021)</em></li>

 <li> Engineering University Entrance Exam Physics: Newtonian Mechanics, Modern Physics, Geometric and Physcical Optics, Semiconductor and Electronics <em>(Spring 2021, Spring 2020)</em></li>

 <li> Introduction to Information and Communication Technology</a> <em>(Fall 2021)</em></li>

 <li> Progamming for Camp for High School Students </a> (Informatics Olympiad Related) <em>(Summer 2020)</em></li>


</ul>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
