---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>As Founder and Instructor of Apex Mathematics & Physics Program (Mymensingh)</h2>

<ul>
 <li> I teach Mathematics and Physics here (Winter 2021 - present)</li>

 <li> Special Training for Math Olympiad</a> (Summer 2021)</li>

 <li> I taught algebra and combinatorics as a part of  Math Olympiad Preparation (Summer 2021)</li>

</ul>

<h2>As Instructor of Omeca Coaching Center (Dhaka)</h2>

<ul>
  <li> High School Math: Geometry, Combinatorics, Trigonometry and Calculus (Spring 2021) 

 <li> Engineering University Entrance Exam Physics: Newtonian Mechanics, Modern Physics, Geometric and Physcical Optics, Semiconductor and Electronics <em>(Spring 2021, Spring 2020)</em></li>

 <li> Introduction to Information and Communication Technology</a>Winter 2021</em></li>

 <li> <a href="https://classes.pint.com/cse135/" target="_blank">CSE 135: Online Database Analytics Applications</a> (Prof. Thomas Powell) <em>Summer 2020</em></li>

 <li> <a href="https://classes.pint.com/cse134b/" target="_blank">CSE 134B: Web Client Languages</a> (Prof. Thomas Powell) <em>Summer 2020</em></li>

 <li> <a href="https://cseweb.ucsd.edu/~rajaiswal/Winter2020/cse101/" target="_blank">CSE 101: Design and Analysis of Algorithms</a> (Prof. Ragesh Jaiswal) <em>Winter 2020</em></li>

 <li> <a href="https://cseweb.ucsd.edu/classes/fa19/cse105-a/" target="_blank">CSE 105: Theory of Computability</a> (Prof. Shachar Lovett) <em>Fall 2019</em></li>

</ul>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
